@import url('https://fonts.googleapis.com/css?family=Aclonica&display=swap');

.async-login{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;  
    color: #2c3e50;
    font-family: roboto, Arial, Helvetica, sans-serif;
}

.async-login button, .async-login input{
    font-family: roboto, Arial, Helvetica, sans-serif;
}

.async-login .container-main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.async-login .container-main .form-login{
    height: auto;
    max-height: 600px;
    background: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-shadow: 1px 1px 22px rgba(0, 0, 0, 0.12);
}

.async-login .container-main .form-login .container-woman{
    background: #fff;
    width: 650px;
    height: 600px;
    overflow: hidden;

    display: flex;
    justify-content: flex-end;
}

.async-login .container-main .form-login .container-woman img{
    width: auto;
    height: 100%;
}

.async-login .container-main .form-login .content{
    width: 400px;
    background: #fff;
    padding: 30px;
}

.async-login .container-main .form-login .content .title{
    width: 100%;
    font-size: 32px;
    margin-bottom: 30px;

    text-align: left;
    font-family: 'Aclonica', sans-serif;
    color: #2c3e50;
    display: block;


}

.async-login .container-main .form-login .content .title span{
    display: block;
    width: 100%;

}

.async-login .container-main .form-login .content .description{
 
    font-size: 14px;
    font-weight: 400;

    line-height: 26px;
    margin-bottom: 30px;
    display: block;
    
}

.async-login .container-main .form-login .form-group{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.async-login .container-main .form-login .form-group label{
    width: 100%;
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: bold;
    color: #222;
    opacity: 0.7;
}

.async-login .container-main .form-login .form-group label span{
    font-size: 12px;
    color: #222;
    font-weight: normal;
    margin-left: 3px;
}

.async-login .container-main .form-login .form-group input{
    width: 100%;
    height: 45px;
    outline: none;
    transition: 0.5s linear;
    border: none;
    border: 1px solid #ddd !important;
    color: #333;
    font-size: 14px;
    padding-left: 12px;
}


.async-login .form-row{
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    max-height: 30px;
}

.async-login .form-row input{
    display: none;

}

.async-login .form-row label{
    padding-left: 25px;
    color: #555;
    font-size: 14px;
    font-weight: bold;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;            /* Possível implementação no futuro */
    cursor: pointer;

    min-height: 100%;
}

.async-login .form-row label::before{
    content: "";
    position: absolute;
    left: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #2c3e50;
    text-align: center;
    line-height: 15px;
    border-radius: 2px;
    cursor: pointer;
}

.async-login .form-row input:checked + label::before{
    background: #2c3e50;
}


.async-login .container-main .form-login .btn-login{
    width: 100%;
    margin: 7px auto;
    height: 48px;
    cursor: pointer;
    background: #4b7bec;
    color: #fff;
    border: none;
    font-size: 16px;
    text-transform: capitalize;
    outline: none;
    transition: 0.8s;
}

.async-login .container-main .form-login .btn-login:hover{
    background: #3867d6;
}


.async-login .container-main .form-login .content .no-count{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}

.async-login .container-main .form-login .content .no-count a{
    margin-left: 7px;
    text-decoration: none;
    font-weight: bold;
    color: #4b7bec;
}

.async-login .container-main .form-login .content .no-count a:hover{
    text-decoration: underline #4b7bec;
}
