.async-footer{
    height: 80px;
    background: #fff;
    width:80%;
    margin: 30px auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    font-family: roboto, Arial, Helvetica, sans-serif;
}

.async-footer a{
    padding-left: 7px;
    color: #4b7bec;
    text-decoration: none;
}

.async-footer a:hover{ 
    text-decoration: underline #4b7bec;
}